# IntelliJ files
.idea
simulate-openmm.iml

# Unit tests
tests

# Test resources
resources

# .pyc files
*.pyc

# Plot folder
plots

# Build folder
build

# Old files
old

# Visualization
visualization

# Files to send to cluster
to_pod

# Viscosity
viscosity
